@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<head>
    <link href="~/css/team-and-testimonials-section.css" rel="stylesheet">
</head>

<section class="meet-our-team pt-5">
    
    <div class="container">

        <h5 class="color-coral">Meet Our Team</h5>

        <h1 class="pb-4">Experience Team Members</h1>

        <div class="team-boxes mt-4">
            <div class="member-box mx-4">
                <img class="" src="~/static/images/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="">
                <h4>Kristine Palmer</h4>
                <p>Chief Operations Officer</p>
            </div>
            
            <div class="member-box mx-1">
                <img class="" src="~/static/images/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="">
                <h4>Mark Aubri</h4>
                <p>Senior Consultant</p>
            </div>
            
            <div class="member-box mx-4">
                <img class="" src="~/static/images/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="">
                <h4>Kimberly Hansen</h4>
                <p>Senior Consultant</p>
            </div>
            
            <div class="member-box mx-4">
                <img src="~/static/images/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="">
                <h4>Kristine Palmer</h4>
                <p>Chief Operations Officer</p>
            </div>
        </div>

    </div>

</section>