@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<head>
    <link href="~/css/team-and-testimonials-section.css" rel="stylesheet">
</head>


<section class="testimonials-section py-5">
    <div class="container">
        
        <div class="flex-column py-5">
            <h5 class="section-title color-coral">Projects & Case Studies</h5>
            <h1 class="pb-2">Let's Look at Our Global Projects</h1>
        </div>      
 


        <div class="bottom">
            
            <div class="testimonial-box">
                <h4><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h4>
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                
                <div class="client-box">
                    <img class="" src="~/static/images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                    <div>
                        <h4>Cassandra Warren</h4>
                        <p>Chief Operations Officer</p>
                    </div>
                </div>
            </div>
            
            <div class="testimonial-box">
                <h4><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h4>
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                
                <div class="client-box">
                    <img class="" src="~/static/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                    <div>
                        <h4>Amanda Tuling</h4>
                        <p>Chief Operations Officer</p>
                    </div>
                </div>
            </div>
            
            <div class="testimonial-box">
                <h4><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h4>
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                
                <div class="client-box d-flex">
                    <img class="" src="~/static/images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                    <div>
                        <h4>Jack McDouglas</h4>
                        <p>Chief Operations Officer</p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="flex-center py-5">
            <a class="btn-dark" href="/projects">All Reviews<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
        
    </div>
</section>