@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.OurServicesItem)Model.Content;
}


<div class="services-box">
        <div class="line"></div>
        <h4>@content.Value("OurServicesItemTitle")</h4>
        <p>@content.Value("OurServicesItemDescription")</p>
        <div class="service-box-links">
              <a class="btn-circle" href="@content.Value("OurServiceItemURL")"><i class="fa-light fa-arrow-right"></i></a>
        </div>
    </div>