.btn-theme {
    width: 460px;
    height: 56px;
    padding: 1rem 1.2rem;
    border-radius: 40px;
    background-color: #f9d783;
    color: #191919;
}
    .btn-theme i {
        margin: 0px 5px;
    }

.btn-dark {
    width: fit-content;
    height: 56px;
    padding: 1rem 1.2rem;
    border-radius: 40px;
    background-color: #191919;
    color: #FFFFFF;
}

    .btn-dark i {
        margin: 0px 5px;
    }

.btn-circle {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #191919;
    color: #FFFFFF;
}
    .btn-circle i {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

.btn-outline {
    padding: 1rem 1.2rem;
    border: 1px solid #191919;
    border-radius: 40px;
    color: #191919;
}
    .btn-outline i {
        margin-left: 5px;
    }


