/* FOOTER */

footer {
    background-color: #0E1021;
    color: #707070;
}

    footer a {
        color: #707070;
    }

footer .logo p {
    max-width: 300px;
}

.footer-section h5 {
    color: #ffffff;
}
    
.footer-section .container {
    display: flex;
    justify-content: space-between;
}
    
.footer-section .container ul {
        list-style: none;
}
    
.footer-section .container ul li a {
    text-decoration: none;
}
        