.btn-theme {
    width: 460px;
    height: 56px;
    border-radius: 40px;
    background-color: #f9d783;
}

.color-coral {
    color: #F94D1C;
}

header {
    background-color: #F0EFE9;
}

a {
    text-decoration: none;
}


/* NAVBAR */

.nav-section {
    background-color: #F0EFE9;
    color: #191919;
    font-size: 15px;
}

.nav-section a {
    color: #191919;
}

.nav-section .first-row {
    border-bottom: 1px solid #909090;
}

.navbar > * {
    padding-right: 2rem;
}
    
.active {
    text-decoration: underline;
}



/* SHOWCASE */

.showcase-section {
    background-color: #F0EFE9;
}



/* FEATURES */





/* OUR SERVICES */

.services-box .umb-block-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}



/* FOOTER */

footer {
    background-color: #0E1021;
    color: #707070;
}

footer .logo p {
        max-width: 300px;
}

    .footer-section h5 {
        color: #ffffff;
    }
    
    .footer-section .container {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-section .container ul {
            list-style: none;
    }
    
    .footer-section .container ul li a {
        text-decoration: none;
    }
    

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
        
         