
.why-choose-us-section .container {
    height: 500px;
}

.why-choose-us-section .left {
    width: 35%;
}

.why-choose-us-section .items {
    display: flex;
    flex-direction: column;
}

.why-choose-us-section .item i {
    font-size: 30px;
}

.why-choose-us-section .right {
    width: 65%;
}

.why-choose-us-section .right .backdrop-top {
    height: 40%;
}

.why-choose-us-section .right .backdrop-bottom {
    height: 60%;
    background-color: #F0EFE9;
}

    .why-choose-us-section .right img {
        position: relative;
        bottom: 500px;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 450px;
    }
